<div class="bootstrap-wrapper">
    <div class="container-fluid">
        <h1 class="mt20">Books On Portal</h1>
        <div class="row mt20" *ngIf="books">
            <div class="col-md-4"  style="width: 100%;"  *ngFor="let b of books">
                <mat-card class="mb20" style="border-radius: 15px;">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>
                           {{b.title}}
                        </mat-card-title>
                          <mat-card-subtitle>
                            {{ b.year }}
                          </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <h3 class="truncate">Author : {{ b.author }}</h3>
                    </mat-card-content>
                    <mat-card-action>
                        <button
                        [routerLink]="'/admin/book/'+b.bookId"
                        mat-button
                        color="primary"
                        class="ml10"
                        >
                          View About
                        </button>
                    </mat-card-action>

                </mat-card>
            </div>

        </div>
    </div>
</div>
