<div class="bootstrap-wrapper">
    <div class="container-fluid">
        <mat-card style="border-radius: 15px;">
            <mat-list>
                <div mat-subheader>Requests</div>
                <mat-list-item>
                    <div class="col-md-4 text-center">
                        <p>User Email</p>
                    </div>
                    <div class="col-md-4 text-center">
                        <p>Book Name</p>
                    </div>
                    <div class="col-md-4 text-center">
                        <p>Status</p>
                    </div>
                    <mat-divider></mat-divider>
                </mat-list-item>
                <mat-list-item *ngFor="let req of accessRequest">
                    <div class="col-md-4 text-center">
                        <p>{{req.userEmail}}</p>
                    </div>
                    <div class="col-md-4 text-center">
                        <p><b>{{req.bookName}}</b></p>
                    </div>
                    <div class="col-md-4 text-center">
                        <div *ngIf="req.active ; else Approved">
                            <mat-chip-list  aria-label="Fish selection">
                                <mat-chip style="margin-right: auto; margin-left: auto;" color="warn" selected>
                                   Not Approved
                                </mat-chip>
                            </mat-chip-list>
                          </div>
                          
                          <ng-template #Approved>
                            <mat-chip-list aria-label="Fish selection">
                                <mat-chip style="margin-right: auto; margin-left: auto;" class="matapp">
                                   Approved
                                </mat-chip>
                            </mat-chip-list>
                          </ng-template>                          
                        
                    </div>
                </mat-list-item>
            </mat-list>

        </mat-card>
    </div>
</div>
