<div class="bootstrap-wrapper">
    <div class="container-fluid">
        <h1 class="mt20">Active Books</h1>
        <div class="row mt20" *ngIf="Activebooks">
            <div class="col-md-3"  style="width: 100%;"  *ngFor="let b of Activebooks| paginate: { itemsPerPage: count, currentPage: p }">
                <mat-card class="mb20" style="border-radius: 15px;">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>
                            {{b.book.title}}
                        </mat-card-title>
                          <mat-card-subtitle>
                            {{ b.book.year }}
                          </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <img mat-card-image style="height:200px; width: 200px; margin-left: auto; margin-right: auto;" [src]="b.book.imageurl"
                            alt="Photo of {{b.book.title}}">
                        <h3 class="truncate">Author : {{ b.book.author }}</h3>
                        <mat-chip-list aria-label="Fish selection">
                            <mat-chip color="primary" selected>
                                Issued Date : {{ b.issueDate}}
                            </mat-chip>
                        </mat-chip-list>
                        <mat-chip-list aria-label="Fish selection">
                            <mat-chip color="warn" selected>
                                Expiry Date : {{ b.expiryDate}}
                            </mat-chip>
                        </mat-chip-list>
                    </mat-card-content>
                    <mat-card-action>
                        <div class="row">
                            <div class="col-md-6">
                                <button
                                (click)="downloadBook(b.book.bookId)"
                                mat-button
                                color="primary"
                                class="ml10"
                                >
                                 Download
                                </button>
    
                            </div>
                            <div class="col-md-6">
                                <button
                                mat-button
                                [routerLink]="'/user/view/'+b.book.bookId"
                                color="primary"
                                class="ml10"
                                >
                                 View
                                </button>
                                
                            </div>
                        </div>
                        
                    </mat-card-action>

                </mat-card>
            </div>
            <div class="col-md-12" *ngIf="Activebooks.length == 0">
                <mat-card>
                  <mat-card-content>
                    <h1>There are No Active Books for this User</h1>
                  </mat-card-content>
                </mat-card>
              </div>

        </div>
        <div class="text-center">
            <pagination-controls  (pageChange)="p = $event"></pagination-controls>
          </div>
    </div>
</div>
