 <!-- home section starts  -->

 <section class="home" id="home">
    <h1>World's Largest e-Library</h1>
    
    <button [routerLink]="'/signup'" class="btn">Sign Up</button>

    <div class="shape"></div>
</section>

<!-- home section ends -->





<!-- footer section starts  -->

<div class="footer">
    <div class="box-container">
        <div class="box">
            <h3>quick links</h3>
            <a href="https://www.instagram.com/?hl=en"><i class="fab fa-instagram"></i> instagram</a>
            <a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i> facebook</a>
            <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i> Youtube</a>
            <a href="https://discord.gg/edRJaDWu"><i class="fab fa-discord"></i> Discord</a>
            <a href="https://twitter.com/explore"><i class="fab fa-twitter-square"></i> twitter</a>
        </div>

        <div class="box">
            <h3>contact info</h3>
            <p>
                <i class="fas fa-map-marker-alt"></i> Bangalore, India 
            </p>
            <p><i class="fas fa-envelope"></i>www.abc.com</p>
            <p><i class="fas fa-phone"></i> 080 4696 6966</p>
        </div>
    </div>

    <h5 class="credit">
        created by Zuhaib Ahmed all rights reserved ®.
    </h5>
</div>

