<mat-toolbar class="mattool">
    <div class="col-md-3">
        <a
        routerLink="/user/book"
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        Active Books
      </a>
    </div>
    <div class="col-md-3">
        <a
        routerLink="/user/all"
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
       Books On Portal
      </a>
    </div>
    <div class="col-md-3">
        <a
        routerLink="/user/book/all"
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
       All Accessed Books 
      </a>
    </div>
    <div class="col-md-3">
        <a
        routerLink="/user/request"
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
       Your Requests 
      </a>
    </div>
</mat-toolbar>