<div class="bootstrap-wrapper">
    <div class="container-fluid">
        <h1 class="mt20">All Books You have Accessed till Date</h1>
        <div class="row mt20" *ngIf="AllBooks">
            <div class="col-md-3"  style="width: 100%;"  *ngFor="let b of AllBooks">
                <mat-card class="mb20" style="border-radius: 15px;">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>
                            <mat-chip-list aria-label="Fish selection">
                                <mat-chip color="accent" selected>
                                    {{b.title}}
                                </mat-chip>
                            </mat-chip-list>
                          </mat-card-title>
                          <mat-card-subtitle>
                            {{ b.year }}
                          </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <!-- <h3 class="truncate">Author : {{ b.author }}</h3> -->
                        <mat-chip-list aria-label="Fish selection">
                            <mat-chip color="primary" selected>
                                Author : {{ b.author }}
                            </mat-chip>
                        </mat-chip-list>
                    </mat-card-content>

                </mat-card>
            </div>
            <div class="col-md-12" *ngIf="AllBooks.length == 0">
                <mat-card>
                  <mat-card-content>
                    <h1>There are No Books Accessed By this Account</h1>
                  </mat-card-content>
                </mat-card>
              </div>

        </div>
    </div>
</div>
